main {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;       
}

.bignav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25dvw;
    border: solid;
    row-gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 25px;
    margin-left: 1em;
}

.about {
    display: flex;
    flex-direction: column;
    width: 65dvw;
    border: solid;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    row-gap: 3em;

}

.mininav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    border: solid;
    flex-wrap: flex;
    
}

.description {
    text-align: center;
    margin-bottom: 1em;
}
