main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;       
}

.bignav {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    border: solid;
    text-align: center;
    align-items: center;
}

.bignav > a {
    margin: 1em;
    text-decoration: none;
    color: black;
    background-color: var(--battleship-gray);
}

.logo {
    width: 250px;
    height: 100%;
    border: solid;
}


.about {
    display: flex;
    flex-direction: column;
    width: 65dvw;
    border: solid;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    row-gap: 3em;

}

.img {
    width: 40dvw;
    height: 30dvh;
    border: solid;
}

.mininav {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    border: solid;
    flex-wrap: wrap;
   
    
}

.mininav > a {
    margin: 0.5em;
}

.description {
    text-align: center;
    margin-bottom: 1em;
}
