main {
    display: flex;
    flex-direction: column;
 
    
}

section {
    display: flex;
    min-height: 200px;
    padding: 1em 5em;
   

}

section div {
    display: flex;
    width: 100%;
    max-width: 600px;

}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10 0em;
    padding: 1em 0em;
    row-gap: 1em;
}

.blog_img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.right {
    background-color: var(--ruddy-blue);
  }

.left {
    background-color: var(--powder-blue);
  }

p {
    text-align: center;
    padding: 0 2em;
}

.mini_blog:hover {
    text-decoration: underline;
    transform: scale(1.2);
    transition: 0.3s;
}


@media screen and (max-width: 700px) {
    section div {
        height: 25dvh;
        min-width: 200px;
        justify-content: center;
    }

    section {
        flex-wrap: wrap;
        row-gap: 1em;
        padding: 1em 0;
    }

    .blog_img {
        width: 70dvw;
        height: 100%;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (min-width: 1500px) {
    section {
        padding: 1em 10em;
    }
}

