/* .column {
    width: 15dvw;
    color: var(--dun);
    text-align: center;
    text-wrap: wrap;
    border: solid;

} */

#middle {
    border: solid;
    
}



.description {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    width: 70dvw;
    justify-content: center; 
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-wrap: wrap;
    text-align: center;

}

img {
    height: 350px;
    width: 40dvw;
    max-width: 300px;
    border-radius: 50%;
}

@media screen and (max-width: 650px) {
    img {
        height: 30dvh;
        width: 40dvw;
        min-width: 200px;
    }
    
}




