/* .column {
    width: 15dvw;
    color: var(--dun);
    text-align: center;
    text-wrap: wrap;
    border: solid;

} */

#middle {
    border: solid;
    
}



.description {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    width: 70dvw;
    justify-content: center; 
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

img {
    height: 300px;
    max-width: 40dvw;
    border-radius: 50%;
}




