main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    
    
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 2em;
    height: 300px;
    width: 400px;
    border: solid;
    border-radius: 20px;
    background-color: var(--powder-blue);
    row-gap: 0.5em;
    
    
}

.projects img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.projects a {
    height: 65%;
    width: 100%;
}

h3 {
    text-decoration: underline;
}

article {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: st;
    justify-content: center;
    text-wrap: wrap;
}

