/* 
    This CSS page contains the code for the baseline theme to be utilised across all pages
    Includes colour palette, base formatting, header, footer and nav bar
*/

* {
--khaki: #ac9e89ff;
--alabaster: #e1ded2ff;
--dun: #ccbaa6ff;
--battleship-gray: #857c73ff;
--silver-lake-blue: #698fc5ff;
--taupe: #3f3931ff;
--walnut-brown: #63564bff;
--blue-gray: #709acfff;
--ruddy-blue: #7da8d7ff;
--powder-blue: #96b6daff;
}


body {
    margin: 0%;
    background-color: var(--dun)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85dvh;
    flex-wrap: wrap;
  
}

header {
    display: flex;
    width: 100%;
    height: 10dvh;
    background-color: var(--battleship-gray);
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background-color: var(--battleship-gray);
    height: 5dvh;
    width: 100%;
    justify-content: start;
    align-items: center;

}

