
main {
    display: flex;
    justify-content: center;
    min-height: 78dvh;
    margin-top: 5dvh;
  
    
  
}

.about {
    display: flex;
    flex-direction: column; 
    align-items: center;
    row-gap: 1.8em;
   

}

#photo {
    min-width: 280px;
    max-width: 70dvw;
    max-height: 50dvh;
    min-height: 30dvh;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mininav {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: bold;
   
    
}

.mininav > a {
    margin: 0.5em;
}

.mininav > a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.2s;
}

.description {
    text-align: center;
    margin-bottom: 1em;
    width: 60dvw;
}

@media screen and (max-width: 700px) {
  
    .about {
        width: 90dvw;
        row-gap: 0.3em;     
        padding: 10px;   
    }

    .mininav {
        display: flex;
        flex-wrap: none;
        width: 90dvw;
        justify-content: center;
        padding: 10px 0;
    }

    

}